<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span>
    </div>
    <script>
        // 阻止 vue 在启动时生成生产提示
        Vue.config.productionTip = false

        // 创建Vue实例
        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '一纸',
                lastName: '忘忧',
            },
            computed: {
                fullName: {
                    // get有什么作用？ 当fullName被读取时，get就会被调用，且返回值就作为fullName的值
                    // get什么时候调用？ 1.初次读取fullName时 2.所依赖的数据发生变化是
                    get() {
                        console.log('get被调用了')
                        return this.firstName + ' / ' + this.lastName
                    },

                    // set什么时候调用？ 当fullName被修改时
                    set(value) {
                        const arr = value.split(' / ')
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                        console.log('set', value)
                    }
                }
            }
        })
    </script>
</body>

</html>